[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/bundle/vim-polyglot"]
	path = vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim_runtime"]
	path = vim_runtime
	url = git://github.com/amix/vimrc.git
